* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    min-width: 320px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.contentwidth {
    max-width: 1000px;
}

.container {
    display: flex;
    flex-direction: column;
}

.navcontainer {
    background-color: #1f2937;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.header img {
    width: 150px;
}

.navi {
    display: flex;
    margin-left: auto;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
}

ul,
li {
    list-style-type: none;
}

.herocontainer {
    margin: 90px auto 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    max-width: 500px;
    margin-right: 15px;
}

.heroheader {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
}

.herobutton button {
    padding: 8px 32px;
    margin: 16px 0;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.heroimage img {
    max-width: 100%;
}

.randomcontainer {
    background-color: #fff;
}

.randominfo {
    margin: 0 auto;
    text-align: center;
}

.randomtitle {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 75px 0 50px;
}

.randomitems {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.randomitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 162px;
    margin: 10px;
}

.item img {
    height: 180px;
}

.itemtext {
    margin-top: 10px;
    font-size: 18px;
    color: #444;
}

.quotecontainer {
    background-color: #e5e7eb;
    padding: 140px 0 100px;
}

.quote {
    margin: 0 auto;
}

.quotetext {
    width: 80%;
    margin: 0 auto 20px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quotename {
    font-size: 24px;
    font-weight: 600;
    color: #1f2937;
    margin: 0 auto;
    width: 75%;
    text-align: right;
}



.signupcontainer {
    background-color: #fff;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 80px auto;
    border-radius: 8px;
    padding: 30px 80px;
}

.signupheader {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.signup button {
    padding: 8px 32px;
    margin: 16px 0;
    border: 2px solid #e5e7eb;
    font-weight: 600;
    border-radius: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
    cursor: pointer;
}


.footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.copyright {
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {

    .navcontainer,
    .randomcontainer {
        padding: 30px;
    }

    .herocontainer {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .hero {
        margin: 50px 0 0 0;
    }

}

@media screen and (max-width: 440px) {

    .navcontainer {
        padding: 10px 30px;
    }

    .navigation {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navi {
        margin: 15px auto 0;
    }

    .header img {
        padding: 0 25px;
    }
}